# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Installer logs
pip-log.txt

# Environment
.env
venv/
ENV/

# Compiled Python files
*.pyc

# Miscellaneous
.DS_Store
Thumbs.db
.pypirc
